[submodule "HoloEngine/vendor/spdlog"]
	path = HoloEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HoloEngine/vendor/GLFW"]
	path = HoloEngine/vendor/GLFW
	url = https://github.com/Hololand/glfw
[submodule "HoloEngine/vendor/imgui"]
	path = HoloEngine/vendor/imgui
	url = https://github.com/Hololand/imgui
